---
import Links from "./links.astro";

---

<footer class="mb-10 flex flex-col gap-4 ">
    <h2 id="contacto"  class="text-2xl mb-8  md:text-3xl lg:text-4xl md:mb-16">Contacto</h2>
    <div class="flex justify-between items-center ">
        <p class="text-secondary/70">Sientete libre de contactarme</p>
        <Links/>
    </div>
    <div class="flex justify-center items-center gap-4 animate-bounce">
        <img src="./gmail.png" alt="" width="30px">
        <p class="">esalassulca@gmail.com</p>
    </div>
</footer>
