<div class="hidden   box-loader fixed inset-0 z-10 bg-primary md:flex justify-center items-center flex-col">
    <!-- circulo de animación -->
    <div class="circle absolute z-50 bg-gradient-to-r from-red-500  to-fuchsia-700 xt  w-32 h-32"></div>
    <div class="md:text-7xl font-bold bg-gradient-to-r from-red-500  to-fuchsia-700 text-transparent bg-clip-text">PORTAFOLIO</div>
    <div class="md:text-7xl font-bold mb-8 bg-gradient-to-r from-red-500  to-fuchsia-700 text-transparent bg-clip-text">DE</div>
<!--     <div
        class="relative bg-black p-4 rounded-full w-[260px] flex justify-center items-center border-white border-2 shadow-md"
    >
        
        <div class="container__typing">Esteban Salas</div>
        <svg class="absolute right-8"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="currentColor" d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9"/></svg>
    </div> -->
    <div class="container__typing text-4xl md:text-7xl font-medium">ESTEBAN SALAS</div>

</div>
<style>
        
    .box-loader {
        font-family: sans-serif;
        animation: hiddenLoader 1s  ease 3s;
        animation-fill-mode: forwards;
    }
    .circle {
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: -50px;
        left: 48%;
        animation: run 3s ease-in 1s;
        animation-fill-mode: forwards;
    }

    @keyframes hiddenLoader {
        from{
            opacity: 1;
        }
        to{
            display: none;
            opacity: 0;
        }
    }

    @keyframes run {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(50vh);
            
        }
        90%{
            opacity: 1;
        }

        100% {
            transform: scale(100);
            opacity: 0;
        }
    }
    .container__typing {
        /* font-size: 4ch; */
        color: rgb(255, 255, 255);
        border-right: 3px solid;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        animation: typing 2.0s steps(70) forwards, blink-caret 0.5s step-end infinite;
    }

    @keyframes typing {
        from { width: 0; }
        to { width: 600px; }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: white; }
    }
</style>

<script>
    const d = (tag: string) => document.querySelector(`.${tag}`);
</script>