---
import Links from "./links.astro";

---

<div class="pb-40    md:flex md:flex-col md:pb-60">
    <header class="w-full grid grid-cols-2 gap-4 sm:flex sm:justify-between sm:mb-32">
        <div class="col-span-1  text-3xl md:text-3xl bg-gradient-to-r from-red-500  to-fuchsia-700 text-transparent bg-clip-text ">estesudev</div>
        <Links />
        <nav class="text-secondary/70 flex justify-around sm:justify-between items-end col-span-2  sm:col-span-1 gap-4 md:text-lg">
            <a href="#proyectos" class="hover:animate-links hover:text-sky-600 hover:underline">Proyectos</a>
            <a href="#tecnologias" class="hover:animate-links hover:text-sky-600 hover:underline">Tecnologias</a>
            <a href="#contacto" class="hover:animate-links hover:text-sky-600 hover:underline"> contacto</a>
        </nav>
        
    </header>
    <main class="flex flex-col  gap-16 pt-10  sm:flex-row sm:justify-between sm:font-['Onest',sans-serif] ">
        <div  class="">
            <h1 class=" my-4 text-2xl  md:text-5xl md:my-8 font-black text-center md:text-start ">
                <strong class="font-semibold bg-gradient-to-r from-red-500  to-fuchsia-700 text-transparent bg-clip-text">Hola, Soy Esteban Salas</strong>  <br />
                 <strong class="font-semibold">Programador web</strong>
            </h1>
            <p class="text-secondary/70 text-pretty  sm:max-w-xs md:max-w-lg leading-relaxed mb-8">
            +1 años transformado ideas creativas en experiencias digitales excepcionales, enfocándome en la funcionalidad, la intuición y el atractivo visual. </p>
            <p>¡Vamos a crear algo increíble juntos!</p>
            
        </div>
        <div class="m-auto">

            <figure class="w-72 m-auto">
                <img class="rounded-full w-72"  src="./perfil.jpg" alt="">
            </figure>

        </div>
    </main>
</div>
