---
import ProjectCard from "./ProjectCard.astro";
---

<div id="proyectos" class=" mb-16">
    <h2 class="text-2xl py-8 md:text-3xl lg:text-4xl md:py-16">Proyectos</h2>
    <div class="flex flex-col gap-4 sm:grid sm:grid-cols-responsive">
    <ProjectCard img ={"./code-light.jpg" } title ={"Peligro"} body={"Este es un perrito muy agresivo!!!"} />
    <ProjectCard img ={"./code-light.jpg" } title ={"Peligro"} body={"Este es un perrito muy agresivo!!!"} />
    </div>
</div>