---
import ProjectCard from "./ProjectCard.astro";

const textCardCompuSalas=["Desarrollamos un sitio web de comercio electr칩nico dedicado a la venta de equipos de computaci칩n.","El proyecto est치 dise침ado para ofrecer a los usuarios una experiencia de compra fluida y segura, integrando funcionalidades clave como un carrito de compras y una pasarela de pago confiable."]

---

<div id="proyectos" class=" mb-16">
    <h2 class="text-2xl py-8 md:text-3xl lg:text-4xl md:py-16 text-secondary/70">Proyectos</h2>

    <div class="flex flex-col gap-4 sm:grid sm:grid-cols-responsive">

        <ProjectCard img ={"./compusalas.png" } title ={"CompuSalas"} body={textCardCompuSalas}  classN={"m-auto"} githubUrl="https://github.com/devSalas/red-social" pageUrl="https://red-social-theta.vercel.app/"/>

    </div>
</div>