---

---

<div class="" id="proyectos">
    <h2 class="text-2xl sm:text-4xl mb-32 text-secondary/70">
        Proyecto mas Reciente
    </h2>
    <h3 class="text-2xl text-center mb-4 sm:text-5xl font-light">
        Bravazo
    </h3>
    <p class="m-auto text-left text-secondary/70 p-4 max-w-3xl">
        Desarrollamos un completo sistema de gestión de compras de comida rápida,
        proporcionando tanto una interfaz amigable para los clientes como un
        robusto panel de administración para el personal de la cafetería.
    </p>
  
    <div class="flex justify-center items-center gap-4 flex-wrap my-4">
        <div class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500  to-fuchsia-700 rounded-md p-[1px] max-w-[150px]">
            <div class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2">
                <img src="next.png" alt="" width="30">
                <span>Next.js</span>
            </div>
        </div>
        <div class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500  to-fuchsia-700 rounded-md p-[1px] max-w-[150px]">
            <div class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2">
                <img src="nodejs.png" alt="" width="30">
                <span>Node.js</span>
            </div>
        </div>
        <div class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500  to-fuchsia-700 rounded-md p-[1px] max-w-[150px]">
            <div class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2">
                <img src="tailwind.png" alt="" width="30">
                <span>TailwindCSS</span>
            </div>
        </div>
        <div class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500  to-fuchsia-700 rounded-md p-[1px] max-w-[150px]">
            <div class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2">
                <img src="mysql.png" alt="" width="30">
                <span>MySQL</span>
            </div>
        </div>
        
    </div>
    <div class="rounded-secondary overflow-hidden">
        <div class="flex flex-col gap-4 p-4 bg-primary">
            <figure class="overflow-hidden m-auto ">
                <img src="./food_app.jpg" alt="" class="w-full rounded-md" />
            </figure>

            <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
                <figure class="overflow-hidden rounded-md m-auto">
                    <img
                        src="./food_order.jpg"
                        alt=""
                        class="w-full rounded-md"
                    />
                </figure>
                <figure class="overflow-hidden rounded-md m-auto">
                    <img
                        src="food_mobile.jpg"
                        alt=""
                        class="w-full rounded-md "
                    />
                </figure>
            </div>

            <div class="flex gap-4 justify-center items-center">
                <button
                    class="bg-gradient-to-r from-red-500  to-fuchsia-700 border-third  mt-8 rounded-3xl hover:animate-links font-bold"
                    ><a
                        href="https://food-app.sunetya.site/"
                        target="_blank" class="block py-3 px-7">ver aplicación</a
                    ></button
                >
                <a
                    href="https://github.com/GersonGarayar20/food-app" target="_blank"
                    class="btn-white border-[1px] border-white py-3 px-7 mt-8 rounded-3xl hover:animate-links cursor-pointer"
                    >Github
                </a>
            </div>
        </div>
    </div>
</div>


                <!-- <div class="flex flex-col gap-2 text-secondary/80">
                    <h3 class="text-lg mb-8">Caracteristicas:</h3>
                    <p><strong><li>Interfaz de Usuario Intuitiva</li></strong></p>
                    <p><strong><li>Gestión de Menú Dinámica</li></strong></p>
                    <p><strong><li>Proceso de Pedido en Línea</li></strong></p>
                    <p><strong><li>Seguridad y Autenticación</li></strong></p>
                    <p><strong><li>Panel de Administración Integral</li></strong></p>
                    <p><strong><li>100% Responsive</li></strong></p>
                </div> -->
