---
import Skill from "./skill.astro";

---
<div class="mb-16 md:my-32">
    <h2 id="tecnologias" class="text-2xl mb-8  text-center md:text-3xl lg:text-4xl md:mb-16 text-secondary">Tecnologias</h2>
    <div class="product-container hidden-products grid grid-cols-responSkill sm:grid-cols-responsive gap-4  overflow-hidden max-w-7xl lg:m-auto">
         <Skill image={"./html.png"} name="HTML" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./css-3.png"} name="CSS3" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./tailwind.png"} name="Tailwindcss" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./bootstrap.png"} name="Bootstrap" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./Git.png"} name="GIT" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./React.png"} name="React" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./typescript.png"} name="Typescript" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./nodejs.png"} name="Node.js" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./mysql.png"} name="mysql" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./mongo.png"} name="mongo" width="50px" classN="box-skill rounded-primary" />
         <Skill image={"./php-icon.png"} name="PHP" width="50px" classN="box-skill rounded-primary" />
    </div>
</div>

