<div>
    <div>
        <h2 class="text-2xl sm:text-4xl mb-12  md:mb-32 text-secondary/70">
            Trabajo más Reciente
        </h2>

        <h3 class="text-2xl text-center mb-4 sm:text-5xl font-light">
            Página web Dentlife Perú
        </h3>
        <p class="m-auto text-left text-secondary/70 p-4 max-w-3xl">
            La empresa se dedica a brindar servicios de odontología de alta calidad, enfocándose en la salud bucal y el bienestar de sus pacientes. La página web fue diseñada con el propósito de ofrecer una plataforma intuitiva y accesible que permita a los usuarios conocer más sobre los servicios disponibles.
        </p>

        <div class="flex justify-center items-center gap-4 flex-wrap my-4">


            <div
                class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500 to-fuchsia-700 rounded-md p-[1px] max-w-[150px]"
            >
                <div
                    class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2"
                >
                    <img src="tailwind.png" alt="" width="30" />
                    <span>TailwindCSS</span>
                </div>
            </div>
            <div
                class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500 to-fuchsia-700 rounded-md p-[1px] max-w-[150px]"
            >
                <div
                    class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2"
                >
                    <img src="php-icon.png" alt="" width="30" />
                    <span>PHP</span>
                </div>
            </div>
            <div
                class="flex gap-2 justify-center items-center bg-gradient-to-r from-red-500 to-fuchsia-700 rounded-md p-[1px] max-w-[150px]"
            >
                <div
                    class="flex justify-center items-center bg-primary w-full h-full rounded-md p-2 gap-2"
                >
                    <img src="js-icon.png" alt="" width="30" />
                    <span>Javascript</span>
                </div>
            </div>
        </div>
        <div class="rounded-secondary overflow-hidden">
            <div class="flex flex-col gap-4 p-4 bg-primary">
                <figure class="overflow-hidden m-auto">
                    <img
                        src="./dentlife1_portada.jpg"
                        alt=""
                        class="w-full rounded-md"
                    />
                </figure>

                <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
                    <figure class="overflow-hidden rounded-md m-auto">
                        <img
                            src="./dentlife2_portada.jpg"
                            alt=""
                            class="w-full rounded-md"
                        />
                    </figure>
                    <figure class="overflow-hidden rounded-md m-auto">
                        <img
                            src="dentlife3_mobile.jpg"
                            alt=""
                            class="w-full rounded-md"
                        />
                    </figure>
                </div>

                <div class="flex gap-4 justify-center items-center mb-16">
                    <button
                        class="bg-gradient-to-r from-red-500 to-fuchsia-700 border-third mt-8 rounded-3xl hover:animate-links font-bold"
                        ><a
                            href="https://dentlifeperu.com/"
                            target="_blank"
                            class="block py-3 px-7">ver página web</a
                        ></button
                    >
                </div>
            </div>
        </div>
    </div>
</div>
